openapi: 3.0.3
info:
  title: Smartrr Vendor Bills API
  description: The Smartrr Vendor API is the programmatic surface behind Smartrr, a subscription and loyalty platform for Shopify DTC brands. It lets a merchant (vendor) read and manage the subscriptions ("purchase states") their customers hold, the customers (subscribers) themselves, the orders and bills those subscriptions generate, and the subscription programs / selling plans that products are sold on. All requests are made against https://api.smartrr.com and are authenticated with a per-organization API access token generated in the Smartrr admin under the Integrations tab and sent in the x-smartrr-access-token header. This description is authored by API Evangelist from Smartrr's public OpenAPI document served at https://api.smartrr.com/docs/spec.json (rendered at https://api.smartrr.com/docs/redoc/); it is a curated subset of the full 116-operation surface covering the core Subscriptions, Subscribers, Orders, Bills, Plans, and Webhooks resources. Endpoint paths and methods are taken directly from that live specification; request and response bodies are summarized.
  version: 1.0.0
  contact:
    name: Smartrr
    url: https://smartrr.com
servers:
- url: https://api.smartrr.com
  description: Smartrr production
security:
- smartrrAccessToken: []
tags:
- name: Bills
  description: Recurring bills (subscription transactions) and their retry / cancel lifecycle.
paths:
  /vendor/bill:
    get:
      tags:
      - Bills
      summary: Get Bills
      operationId: getBills
      responses:
        '200':
          description: A paginated list of bills (subscription transactions).
  /vendor/bill/{billId}/history:
    get:
      tags:
      - Bills
      summary: Gets bill audit history
      operationId: getBillHistory
      parameters:
      - name: billId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The bill's audit history.
  /vendor/bill/{billId}/retry:
    post:
      tags:
      - Bills
      summary: Retry a bill
      operationId: retryBill
      parameters:
      - name: billId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The retried bill.
  /vendor/bill/{billId}/cancel:
    post:
      tags:
      - Bills
      summary: Cancels a bill
      operationId: cancelBill
      parameters:
      - name: billId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The cancelled bill.
components:
  securitySchemes:
    smartrrAccessToken:
      type: apiKey
      in: header
      name: x-smartrr-access-token
      description: Per-organization API access token generated in the Smartrr admin under the Integrations tab (Add Key). Sent on every request in the x-smartrr-access-token header.
