openapi: 3.2.0
info:
  title: Smartrr Vendor Orders API
  description: The Smartrr Vendor API is the programmatic surface behind Smartrr, a subscription and loyalty platform for Shopify DTC brands.
  version: 1.0.0
  contact:
    name: Smartrr
    url: https://smartrr.com
servers:
- url: https://api.smartrr.com
  description: Smartrr production
security:
- smartrrAccessToken: []
tags:
- name: Orders
  description: Orders generated by subscriptions.
paths:
  /vendor/order:
    get:
      tags:
      - Orders
      summary: Get Orders
      operationId: getOrders
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of orders.
  /vendor/order/formatted:
    get:
      tags:
      - Orders
      summary: Get Formatted Orders
      operationId: getFormattedOrders
      responses:
        '200':
          description: Formatted orders.
  /vendor/orders/{shopifyId}:
    get:
      tags:
      - Orders
      summary: Get Order by Shopify order ID
      operationId: getOrderByShopifyId
      parameters:
      - name: shopifyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single order.
  /vendor/order/{orderId}/open:
    post:
      tags:
      - Orders
      summary: Open Order
      operationId: openOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The opened order.
  /vendor/order/{orderId}:
    delete:
      tags:
      - Orders
      summary: Close Order
      operationId: closeOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The closed order.
components:
  securitySchemes:
    smartrrAccessToken:
      type: apiKey
      in: header
      name: x-smartrr-access-token
      description: Per-organization API access token generated in the Smartrr admin under the Integrations tab (Add Key). Sent on every request in the x-smartrr-access-token header.
