openapi: 3.0.3
info:
  title: Smartrr Vendor Bills Orders API
  description: The Smartrr Vendor API is the programmatic surface behind Smartrr, a subscription and loyalty platform for Shopify DTC brands. It lets a merchant (vendor) read and manage the subscriptions ("purchase states") their customers hold, the customers (subscribers) themselves, the orders and bills those subscriptions generate, and the subscription programs / selling plans that products are sold on. All requests are made against https://api.smartrr.com and are authenticated with a per-organization API access token generated in the Smartrr admin under the Integrations tab and sent in the x-smartrr-access-token header. This description is authored by API Evangelist from Smartrr's public OpenAPI document served at https://api.smartrr.com/docs/spec.json (rendered at https://api.smartrr.com/docs/redoc/); it is a curated subset of the full 116-operation surface covering the core Subscriptions, Subscribers, Orders, Bills, Plans, and Webhooks resources. Endpoint paths and methods are taken directly from that live specification; request and response bodies are summarized.
  version: 1.0.0
  contact:
    name: Smartrr
    url: https://smartrr.com
servers:
- url: https://api.smartrr.com
  description: Smartrr production
security:
- smartrrAccessToken: []
tags:
- name: Orders
  description: Orders generated by subscriptions.
paths:
  /vendor/order:
    get:
      tags:
      - Orders
      summary: Get Orders
      operationId: getOrders
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of orders.
  /vendor/order/formatted:
    get:
      tags:
      - Orders
      summary: Get Formatted Orders
      operationId: getFormattedOrders
      responses:
        '200':
          description: Formatted orders.
  /vendor/orders/{shopifyId}:
    get:
      tags:
      - Orders
      summary: Get Order by Shopify order ID
      operationId: getOrderByShopifyId
      parameters:
      - name: shopifyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single order.
  /vendor/order/{orderId}/open:
    post:
      tags:
      - Orders
      summary: Open Order
      operationId: openOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The opened order.
  /vendor/order/{orderId}:
    delete:
      tags:
      - Orders
      summary: Close Order
      operationId: closeOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The closed order.
components:
  securitySchemes:
    smartrrAccessToken:
      type: apiKey
      in: header
      name: x-smartrr-access-token
      description: Per-organization API access token generated in the Smartrr admin under the Integrations tab (Add Key). Sent on every request in the x-smartrr-access-token header.
