openapi: 3.2.0
info:
  title: Smartrr Vendor Webhooks API
  description: The Smartrr Vendor API is the programmatic surface behind Smartrr, a subscription and loyalty platform for Shopify DTC brands.
  version: 1.0.0
  contact:
    name: Smartrr
    url: https://smartrr.com
servers:
- url: https://api.smartrr.com
  description: Smartrr production
security:
- smartrrAccessToken: []
tags:
- name: Webhooks
  description: Register endpoints to receive Smartrr event notifications.
paths:
  /vendor/webhook:
    get:
      tags:
      - Webhooks
      summary: Get webhooks for current organization
      operationId: getWebhooks
      responses:
        '200':
          description: The organization's webhooks.
    post:
      tags:
      - Webhooks
      summary: Create a new webhook
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Webhook creation payload (topic, delivery URL).
      responses:
        '201':
          description: The created webhook.
  /vendor/webhook/{webhookId}:
    put:
      tags:
      - Webhooks
      summary: Edit existing webhook
      operationId: editWebhook
      parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The updated webhook.
    delete:
      tags:
      - Webhooks
      summary: Delete existing webhook
      operationId: deleteWebhook
      parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The webhook was deleted.
components:
  securitySchemes:
    smartrrAccessToken:
      type: apiKey
      in: header
      name: x-smartrr-access-token
      description: Per-organization API access token generated in the Smartrr admin under the Integrations tab (Add Key). Sent on every request in the x-smartrr-access-token header.
